.video-component{
    background-color: #efefef;
}

.html-component{
    background-color: #cccccc;
}

.problem-component{
    background-color: #999999;
}

.discussion-component{
    background-color: #434343;
}

.other-component{
    background-color: #000000;
}
